<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/templates/css/custom.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/css/custom-style.css" >

    <title>BrainStorm'a Hoşgeldin!</title>
    <style>
        .navbar-brand img {
            height: 50px; /* İstediğiniz yüksekliği ayarlayın */
            width: auto; /* Otomatik genişlik */
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .dropdown-menu {
            min-width: 125%;
            height: auto; /* Örnek olarak 300 piksel yükseklik */

        }

        .dropdown-menu.subcategories {
            left: 100%;
            height: auto; /* Örnek olarak 300 piksel yükseklik */

        }

        .subject-options {
            display: none; /* Sayfa yüklendiğinde gizli tutun */
        }

        .list-group-item {
            cursor: pointer; /* Liste öğelerine tıklanabilirlik ekleyin */
        }

        .form-inline {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 5px;
            padding: 20px;
        }

        .form-control-lg {
            border-radius: 30px; /* Input kutusunun köşelerini yuvarlar */
            border: none; /* Kenarlık yok */
            padding: 15px; /* Daha büyük iç boşluk */
            width: calc(100% - 70px); /* Butondan önceki boşluğu ayarlar */
        }

        .btn-light {
            background-color: #fff; /* Buton arka plan rengi beyaz */
            color: #007bff; /* Buton metin rengi mavi */
            border: none;
            border-radius: 30px; /* Butonun köşelerini yuvarlar */
            padding: 15px 30px; /* Daha büyük buton */
        }

        .btn-light:hover {
            background-color: #007bff; /* Buton üzerine gelindiğinde mavi */
            color: #fff; /* Buton metin rengi beyaz */
        }

        @media (max-width: 768px) {
            .form-control-lg {
                width: 100%; /* Küçük ekranlarda input genişliğini ayarlar */
                margin-bottom: 10px; /* Inputların altında biraz boşluk bırakır */
            }

            .btn-light {
                width: 100%; /* Küçük ekranlarda buton genişliğini ayarlar */
            }
        }

        .float-right select {
            font-size: 14px;
        }

        .custom-select option {
            font-size: 14px;
        }
        footer {
            background-color: green; /* Footer arka plan rengi */
            color: #ffffff; /* Footer metin rengi */
            padding: 10px 0;
            text-align: center;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a th:href="@{/user/home/{id}(id=${id})}" class="navbar-brand mb-3">
        <img src="/static/images/brain_logo3.jpg" width="100px">
        <span style="color: green; font-family: 'Arial', sans-serif; font-size: 24px; margin-left: 10px;">BrainStorm</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Kategoriler</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" onmouseover="showSubcategories('subcategoriesAction')">9. Sınıf  </a>
                    <div class="dropdown-menu subcategories" id="subcategoriesAction" aria-labelledby="navbarDropdown" style="position: absolute; top: 0; left: 100%;">
                        <!-- 9. Sınıf dropdown items -->
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/matematik'}">Matematik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/fizik'}">Fizik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/kimya'}">Kimya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/biyoloji'}">Biyoloji</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/türk dili ve edebiyatı'}">Türk Dili ve Edebiyatı</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/coğrafya'}">Coğrafya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/tarih'}">Tarih</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/ingilizce'}">İngilizce</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/felsefe'}">Felsefe</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/almanca'}">Almanca</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/9' + '/resim'}">Resim</a>
                    </div>
                    <a class="dropdown-item" href="#" onmouseover="showSubcategories('subcategoriesAnotherAction')">10. Sınıf</a>
                    <div class="dropdown-menu subcategories" id="subcategoriesAnotherAction" aria-labelledby="navbarDropdown" style="position: absolute; top: 0; left: 100%;">
                        <!-- 10. Sınıf dropdown items -->
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/matematik'}">Matematik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/fizik'}">Fizik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/kimya'}">Kimya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/biyoloji'}">Biyoloji</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/türk dili ve edebiyatı'}">Türk Dili ve Edebiyatı</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/coğrafya'}">Coğrafya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/tarih'}">Tarih</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/ingilizce'}">İngilizce</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/felsefe'}">Felsefe</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/almanca'}">Almanca</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/10' + '/resim'}">Resim</a>
                    </div>
                    <a class="dropdown-item" href="#" onmouseover="showSubcategories('subcategoriesAnotherAction2')">11. Sınıf</a>
                    <div class="dropdown-menu subcategories" id="subcategoriesAnotherAction2" aria-labelledby="navbarDropdown" style="position: absolute; top: 0; left: 100%;">
                        <!-- 11. Sınıf dropdown items -->
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/matematik'}">Matematik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/fizik'}">Fizik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/kimya'}">Kimya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/biyoloji'}">Biyoloji</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/türk dili ve edebiyatı'}">Türk Dili ve Edebiyatı</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/coğrafya'}">Coğrafya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/tarih'}">Tarih</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/ingilizce'}">İngilizce</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/felsefe'}">Felsefe</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/almanca'}">Almanca</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/11' + '/resim'}">Resim</a>
                    </div>
                    <a class="dropdown-item" href="#" onmouseover="showSubcategories('subcategoriesAnotherAction3')">12. Sınıf</a>
                    <div class="dropdown-menu subcategories" id="subcategoriesAnotherAction3" aria-labelledby="navbarDropdown" style="position: absolute; top: 0; left: 100%;">
                        <!-- 12. Sınıf dropdown items -->
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/matematik'}">Matematik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/fizik'}">Fizik</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/kimya'}">Kimya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/biyoloji'}">Biyoloji</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/türk dili ve edebiyatı'}">Türk Dili ve Edebiyatı</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/coğrafya'}">Coğrafya</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/tarih'}">Tarih</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/ingilizce'}">İngilizce</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/felsefe'}">Felsefe</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/almanca'}">Almanca</a>
                        <a class="dropdown-item" th:href="@{'/user/home/' + ${id} + '/12' + '/resim'}">Resim</a>

                    </div>
                </div>
            </li>

            <li class="nav-item col-8">
                <form th:action="@{'/user/home/' + ${id} + '/search'}" method="post" class="form-inline my-2 my-lg-0 inbutton">
                    <input class="form-control form-control-lg mr-sm-0 col-8 bg-light border-0 "
                           style="border-radius: 5px 0px 0px 5px"
                           type="search" id="search" name="searchedWord" placeholder="En iyi kurslarımızı arayın" aria-label="Search">

                    <button class="btn btn-light btn-lg  my-2 my-sm-0 ml-0 col-2"
                            style="border-radius: 0px 5px 5px 0px;"
                            type="submit"><i class="fas fa-search text-danger "></i></button>
                </form>
            </li>
        </ul>

        <a class="nav-link btn btn-light mx-2 rounded" th:href="@{'/user/home/' + ${id} + '/shop'}"><i class="fas fa-shopping-cart"></i> Sepetim </a>
        <a class="nav-link btn btn-light rounded" th:href="@{'/user/home/' + ${id} + '/profile'}"><i class="fas fa-user"></i> Profilim </a>
        <a class="nav-link btn btn-light rounded" href="/home"><i class="fas fa-sign-out-alt"></i> Çıkış </a>

    </div>
</nav>





<div class="jumbotron big-banner mb-0 jumbotron-fluid" style="height: 500px; padding-top: 150px;">

</div>


<div class="fresh-content text-light py-3" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <i class="far fa-play-circle mr-3 display-4" ></i>
                    <div class="media-body">
                        <h5 class="mt-0">Uzman İçerikler</h5>
                        Uzmanlar tarafından hazırlanan özel kurslara erişim fırsatı
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media">
                    <i class="fas fa-ribbon mr-3 display-4" ></i>
                    <div class="media-body">
                        <h5 class="mt-0">Güvenilir Eğitmenler</h5>
                        Ülke çapında deneyimli insanlardan eğitim alma fırsatı
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media">
                    <i class="fas fa-spinner mr-3 display-4" ></i>
                    <div class="media-body">
                        <h5 class="mt-0">Esnek Öğrenme Fırsatı</h5>
                        İstediğin zaman istediğiniz konuyu öğrenme fırsatı
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


<div class="container mt-5" >
    <h3>
        <small class="text-muted">Öne Çıkan Konular</small>
    </h3>

    <a th:href="@{'/user/home/' + ${id} + '/matematik'}" class="btn btn-light shadow">Matematik</a>
    <a th:href="@{'/user/home/' + ${id} + '/fizik'}" class="btn btn-light shadow mx-1">Fizik</a>
    <a th:href="@{'/user/home/' + ${id} + '/kimya'}" class="btn btn-light shadow mx-1">Kimya</a>
    <a th:href="@{'/user/home/' + ${id} + '/biyoloji'}" class="btn btn-light shadow mx-1">Biyoloji</a>
    <a th:href="@{'/user/home/' + ${id} + '/türk dili ve edebiyatı'}" class="btn btn-light shadow mx-1">Türk Dili ve Edebiyatı </a>
    <a th:href="@{'/user/home/' + ${id} + '/coğrafya'}" class="btn btn-light shadow mx-1">Coğrafya</a>
    <a th:href="@{'/user/home/' + ${id} + '/tarih'}" class="btn btn-light shadow mx-1">Tarih</a>
    <a th:href="@{'/user/home/' + ${id} + '/ingilizce'}" class="btn btn-light shadow mx-1">İngilizce</a>
</div>

<div class="container mt-5">
    <h3>
        <small class="text-muted">Tüm Kurslar</small>
        <div class="float-right">
            <select id="filterSelect" class="custom-select" onchange="sendFilter()">
                <option value="">Filtrele</option>
                <option value="price_asc">Fiyat (Artan)</option>
                <option value="price_desc">Fiyat (Azalan)</option>
                <option value="rating_asc">Puan (Artan)</option>
                <option value="rating_desc">Puan (Azalan)</option>
            </select>
            <input type="hidden" id="userId" value="${userId}">
        </div>
    </h3>
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="row">
                    <!-- Kurs kartları -->
                    <div class="col-md-3 mb-4" th:each="course, iterStat : ${courses}">
                        <div class="card mx-1">
                            <img class="card-img-top h-50" src="/static/images/course-image2.jpg" alt="Card image cap">
                            <div class="card-body px-2">
                                <h6>
                                    <a th:href="@{'/user/home/' + ${id} + '/course/' + ${course.getId()}}">
                                        <span th:text="${course.getName()}">Kurs Adı</span>
                                    </a>
                                </h6>
                                <p class="card-text" style="font-size: 11px;" th:text="${course.getDescription()}">Kurs Açıklaması</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fas fa-star text-warning"></i>
                                        <span th:text="${course.getRating()}"></span>
                                    </small>
                                    <span class="d-block"></span>
                                    <span class="float-right">
                                       <p class="card-text" style="font-size: 11px;">
                                            <span style="color: #6c757d;">&#8378;</span> <!-- Turkish Lira sign -->
                                            <span class="ml-1 text-muted">
                                            <span th:text="${course.getPrice()}"></span> TL
                                            </span>
                                       </p>
                                     <a th:href="@{'/user/home/' + ${id} + '/course/{courseId}'(id=${id}, courseId=${course.getId()})}" class="btn btn-link"><i class="fas fa-cart-plus"></i> Sepete Ekle</a>

                                    </span>
                                </p>

                                <p class="card-text" style="font-size: 11px;">
                                    <i class="fas fa-user" style="color: #6c757d;"></i>
                                    <span class="ml-1 text-muted">
                 <a th:href="@{'/user/home/' + ${id} + '/teacher/' + ${course.getTeacher().getId()}}">
                  <span th:text="${course.getTeacher().getName()}"></span>
                  <span th:text="${course.getTeacher().getSurname()}"></span>
            </a>
            </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Kurs kartları sonu -->
                </div>
            </div>
        </div>
    </div>
</div>

<hr>



<footer>
    <p><a style="color: inherit; text-decoration: none;">BrainStorm</a> &copy; 2024 </p>
</footer>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script th:inline="javascript">
    var id =[[${id}]];
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    function showSubcategories(subcategoriesId) {
        $('.subcategories').removeClass('show');
        $('#' + subcategoriesId).addClass('show');
    }

    function sendFilter() {
        var selectedValue = document.getElementById("filterSelect").value;
        var userId = document.getElementById("userId").value; // Kullanıcı ID'si buraya atanacak, örneğin: document.getElementById("userId").value;
        if (selectedValue !== '') {
            window.location.href = "/user/home/" + id + "/filter/" + selectedValue;
        }
    }

</script>



</body>

</html>